---
layout: default
title: Research
---
<div class="content pure-u-1-2 pure-u-md-2-3">
  <h2 class="content-heading"> Research </h2>
  
  <p> My recent research focuses on multigraded syzygies, in particular 
virtual resolutions. But I also have a strong interest in syzygies more 
broadly as well as connections between Algebraic Geometry, Commutative 
Algebra, and Combinatorics. </p>
	
  <p>My research has blended combinatorial, computation, algebraic 
    techniques to study syzygies. This includes a particular focus on 
    monomial ideals as well as toric varieties.</p>
  <h3 class="content-subheading"> Papers and Preprints </h3>
  See also: <a href="https://arxiv.org/a/yang_j_7.html">https://arxiv.org/a/yang_j_7.html</a>
  <br/>
  <br/>
  <ol class="paper-list">
    {% for paper in site.data.papers %}
    <li class="paper">
      <div class="paper-title">{{paper.title}}</div>
      <div class="paper-journal-links">
        <span class="journal name">
        {% if paper.journal %}
        {{paper.journal}}
        {% else %}
        Preprint
        {% endif %}
        </span>
        {% if paper.doi %}
        <a href="https://doi.org/{{paper.doi}}" class="pure-button doi-link"> DOI </a>
        {% endif %}
        {% if paper.arXiv %}
        <a href="https://arxiv.org/abs/{{paper.arXiv}}" class="pure-button arxiv-link"> arXiv </a>
        {% endif %}
      </div>
      <div class="paper-author-list">
        {{paper.authors}}
      </div>
    </li>
    {% endfor %}
  </ol>
</div>

</body></html>
