.header {
    background: #223355;
}
.content {
    margin: 0 auto;
    padding: 0 2em;
}

.content-heading {
    color: grey;
}

.content-subheading {
    color: grey;
}

.profile-photo {
    float: left;
    margin: 1em;
}

.contact-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.paper-list {
}
